.galleryHome {
    margin-top: 25px;
    color: rgb(116, 113, 113);
    // display: flex;
    // justify-content: center;

    div {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        margin-top: 4px;
    }

    span {
        font-size: 0.9rem;
    }


    // mediaqueries
    @media (max-width: 700px) {
        div {
            margin-top: 20px;
            text-align: center;
        }

        p {
            display: none;
        }

        span {
            font-size: 1rem;
        }

        .jeanJacket {
            height: 175px !important;
        }

        .balde {
            margin-top: 35px;
        }

        .glasses {
            margin-top: 25px;
        }
    }
}

// BOTON TO TURN OFF/ON THE LIGHT
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

// class that turns background and text color
.dark {
    background: black;

    h4 {
        color: white;
    }
}


// section pic crazy face TEXT!:
.textoVimeo {
    div {
        margin-bottom: 15px;
    }

    h5 {
        margin-top: 10px;
    }

    .btnVimeo {
        background: transparent;
        padding: 7px 15px;

        &:hover {
            background: rgb(250, 245, 245)
        }

        a {
            color: black;
            text-decoration: none;
            // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    @media (max-width: 700px) {
        div {
            font-size: 0.9rem;
        }

        .btnVimeo {
            padding: 4px 10px;
        }
    }

}

// ---NEWS ---
.news {
    .btnVimeoNews {
        padding: 4px 10px;
        background: transparent;

        a {
            color: black;

            &:hover {
                background: rgb(250, 245, 245);
                text-decoration: none;
            }
        }
    }

    .pNews {
        margin-bottom: 65px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 800;
    }
}

img {
    height: 150px;
}